<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <h3>Product Store Application</h3>
      </div>

      <div class="text-center">Created for Angular Basics practice</div>
      <div class="text-center">
        <div class="list-group" style="margin-top: 20px;">
          <a class="list-group-item list-group-item-action active">
            What i've learned
          </a>
          <a class="list-group-item list-group-item-action">Components, Creating Components, Nesting Components</a>
          <a class="list-group-item list-group-item-action">Templates, Interpolation, Directives</a>
          <a class="list-group-item list-group-item-action">Data Binding, Pipes</a>
          <a class="list-group-item list-group-item-action">Services and Dependency Injections</a>
          <a class="list-group-item list-group-item-action">Retrieving data using HTTP</a>
          <a class="list-group-item list-group-item-action">Routing</a>
          <a class="list-group-item list-group-item-action">Modules, Dividing the app to Feature Modules</a>
        </div>
      </div>
    </div>
  </div>
</div>
